<div class='container'>
  <div class='card'>
    <header class='card-header'>
      <p class='card-header'>
        {{title}}
      </p>
    </header>
    <div class='card-content'>
      <div class='content'>
        <p>{{content}}</p>
        <footer class='card-footer'>
        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
        </footer>
      </div>
    </div>
  </div>

    {{#each comments as |comment|}}
      <div class='card'>
        <div class='card-content'>
          <div class='content'>
            <p>{{comment.content}}</p>
            
          </div>
        </div>
        <footer class='card-footer'>
          <p class="pl-5">Posted by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        </footer>
      </div>
    {{/each}}
  </div>
  <form class='column card new-comment-form'>
 <div class='field'>
   <input type="text" id='post-id' value={{id}} hidden='hidden'/>
      <textarea
        class='textarea'
        id='comment-content'
        name="content"
        placeholder='Add a comment'
      ></textarea>
    </div>
 <div class='field'>
      <p class='control'>
        <button class='btn btn-secondary' type='submit'>
          Create
        </button>
      </p>
    </div>
  </form>
</div>
<script src='/js/comment.js'></script>